@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole

@{
    ViewBag.Title = Model.Name + " Details";
}

<div class="main-banner" id="top">
    <div class="row">
        <div class="col-md-12">
            <div id="mainContent">
                <h2>@ViewBag.Title.</h2>
                <div class="formContainer col-md-6">
                    <div class="row">
                        <div class="col-md-8">
                            <div>
                                <h4>Roles.</h4>
                                <hr />
                                <dl class="dl-horizontal">
                                    <dt>
                                        @Html.DisplayNameFor(model => model.Name)
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.Name)
                                    </dd>
                                </dl>
                            </div>
                            <h4>List of users in this role</h4>
                            @if (ViewBag.UserCount == 0)
                            {
                                <hr />
                                <p>No users found in this role.</p>
                            }

                            <table class="table">

                                @foreach (var item in ViewBag.Users)
                                {
                                    <tr>
                                        <td>
                                            @item.UserName
                                        </td>
                                    </tr>
                                }
                            </table>
                            <p>
                                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" }) |
                                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-success" })
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
