@model StoreFrontProject.UI.MVC.Models.ContactViewModel
@{
    ViewBag.Title = "Contact Us";
}

<!-- ***** Main Banner Area Start ***** -->
<div class="page-heading about-page-heading" id="top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="inner-content">
                    <h2>Contact Us</h2>
                    <span>We're here to answer any questions you may have</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Main Banner Area End ***** -->
<!-- ***** Contact Area Starts ***** -->
<div class="contact-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div id="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d199412.4857106162!2d-90.38354626559983!3d38.65301691862626!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87d8b4a9faed8ef9%3A0xbe39eaca22bbe05b!2sSt.%20Louis%2C%20MO!5e0!3m2!1sen!2sus!4v1642711640178!5m2!1sen!2sus" width="100%" height="400px" frameborder="0" style="border:0" allowfullscreen></iframe>
                    <!-- You can simply copy and paste "Embed a map" code from Google Maps for any location. -->
                </div>
            </div>
            <div class="col-lg-6">
                <div class="section-heading">
                    <h2>Say Hello. Don't Be Shy!</h2>
                    <span>Details to details is what makes Paintball store different from the other stores.</span>
                </div>
                @using (Html.BeginForm())
                {
                    @*<form id="contact" action="" method="post">*@
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @*<form id="contact" action="" method="post">*@
                        <div class="row">
                            <div class="col-lg-6">
                                <fieldset>
                                    @*<input name="name" type="text" id="name" placeholder="Your name" required="">*@
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @placeholder = "Name" } })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </fieldset>
                            </div>
                            <div class="col-lg-6">
                                <fieldset>
                                    @*<input name="email" type="text" id="email" placeholder="Your email" required="">*@
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @placeholder = "Email" } })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    @*<textarea name="message" rows="6" id="message" placeholder="Your message" required=""></textarea>*@
                                    @Html.EditorFor(model => model.Message, new { htmlAttributes = new { @rows = "6", @placeholder = "Please type your message here..." } })
                                    @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                                </fieldset>
                            </div>
                            <div class="col-lg-10">
                                <fieldset>
                                    @*<input name="subject" type="text" id="subject" placeholder="Subject" required="" />*@
                                    @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @placeholder = "Subject" } })
                                    @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
                                </fieldset>
                            </div>
                            <div class="col-lg-2 text-right">
                                <fieldset>
                                    <button type="submit" id="form-submit" class="main-dark-button"><i class="fa fa-paper-plane"></i></button>
                                </fieldset>
                            </div>
                        </div>
                    @*</form>*@
                }
                </div>
        </div>
    </div>
</div>
<!-- ***** Contact Area Ends ***** -->