@model IEnumerable<StoreFrontProject.Data.EF.Category>

@{
    ViewBag.Title = "Categorys";
}

<div class="main-banner" id="top">
    <h2 class="text-center">@ViewBag.Title</h2>

    <div class="indexWrapper">
        <div class="col-md-12">
            <div id="mainContent">
                <div class="formContainer col-md-6">

                    <div class="col-md-12">

                        @if (User.IsInRole("Admin") || User.IsInRole("User"))
                        {
                            <p>
                                @Html.ActionLink("Add Category", "Create", null, new { @class = "btn btn-success" })
                            </p>
                        }
                        <table class="table">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.CategoryName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CategoryDesc)
                                </th>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <th></th>
                                }
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CategoryName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CategoryDesc)
                                    </td>
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <td class="text-right">
                                            @Html.ActionLink(" ", "Edit", new { id = item.CategoryID }, new { @class = "btn btn-primary fas fa-pencil-alt" })
                                            @Html.ActionLink(" ", "Details", new { id = item.CategoryID }, new { @class = "btn btn-success fas fa-info" })
                                            @if (User.IsInRole("Admin"))
                                            {
                                                @Html.ActionLink(" ", "Delete", new { id = item.CategoryID }, new { @class = "btn btn-danger fa fa-trash" })
                                            }
                                        </td>
                                    }
                                </tr>
                            }

                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
