@model IEnumerable<StoreFrontProject.Data.EF.Customer>

@{
    ViewBag.Title = "Customers";
}

<div class="main-banner" id="top">
    <h2 class="text-center">@ViewBag.Title</h2>

    <div class="productWrapper">
        <div class="col-md-12">
            <div id="mainContent">
                <div class="formContainer col-md-12">

                    <div class="col-md-12">

                        @if (User.IsInRole("Admin") || User.IsInRole("User"))
                        {
                            <p>
                                @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
                            </p>
                        }
                        <table class="table" style="font-size: 14px">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.FirstName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.LastName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Address)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.City)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.State)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ZipCode)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Phone)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Email)
                                </th>
                                <th></th>
                            </tr>

                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FirstName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LastName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Address)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.City)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.State)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ZipCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Phone)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <td class="text-right">
                                        @Html.ActionLink(" ", "Edit", new { id = item.CustomerID }, new { @class = "btn btn-primary fas fa-pencil-alt" })
                                        @if (User.IsInRole("Admin"))
                                        {
                                            @Html.ActionLink(" ", "Details", new { id = item.CustomerID }, new { @class = "btn btn-success fas fa-info" })
                                            @Html.ActionLink(" ", "Delete", new { id = item.CustomerID }, new { @class = "btn btn-danger fa fa-trash" })
                                        }
                                    </td>
                                }
                            </tr>
                            }

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
