<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <title>Paintball Shop - @ViewBag.Title</title>

    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/fontawesome.min.css" integrity="sha512-P9vJUXK+LyvAzj8otTOKzdfF1F3UYVl13+F8Fof8/2QNb8Twd6Vb+VD52I7+87tex9UXxnzPgWA3rH96RExA7A==" crossorigin="anonymous" referrerpolicy="no-referrer" />*@

    @Styles.Render("~/Content/css")

    <!--DataTables CSS-->
    <link rel="stylesheet" href="//cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" />

    <link href="~/Content/assets/css/PagedList.css" rel="stylesheet" />

    <!--

    TemplateMo 571 Hexashop

    https://templatemo.com/tm-571-hexashop

    -->
</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo">
                            <img src="~/Content/assets/images/paintballLogo.png">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="@Url.Action("Index", "Home")">Home</a></li>
                            @*<li class="scroll-to-section"><a href="#men">Men's</a></li>
                                <li class="scroll-to-section"><a href="#women">Women's</a></li>
                                <li class="scroll-to-section"><a href="#kids">Kid's</a></li>*@
                            @*<li class="submenu">
                                <a href="javascript:;">Pages</a>
                                <ul>*@
                            <li><a href="@Url.Action("Products", "Home")">Products</a></li>
                            <li><a href="@Url.Action("About", "Home")">About Us</a></li>
                            @*<li><a href="single-product.html">Single Product</a></li>*@
                            @if (User.IsInRole("Admin"))
                            {
                                <li class="submenu">
                                    <a href="javascript:;">Admin Functions</a>
                                    <ul>
                                        <li><a href="@Url.Action("Index", "UsersAdmin")">Users Admin</a></li>
                                        <li><a href="@Url.Action("Index", "RolesAdmin")">Roles Admin</a></li>
                                    </ul>
                                </li>
                            }
                            <li><a href="@Url.Action("Contact","Home")">Contact Us</a></li>
                            @Html.Partial("_LoginPartial")
                            @*</ul>*@
                            @*</li>*@
                            @*<li class="submenu">
                                    <a href="javascript:;">Features</a>
                                    <ul>
                                        <li><a href="#">Features Page 1</a></li>
                                        <li><a href="#">Features Page 2</a></li>
                                        <li><a href="#">Features Page 3</a></li>
                                        <li><a rel="nofollow" href="https://templatemo.com/page/4" target="_blank">Template Page 4</a></li>
                                    </ul>
                                </li>
                                <li class="scroll-to-section"><a href="#explore">Explore</a></li>*@

                            @* Shopping Cart Step 8 *@
                            @if (Session["cart"] != null)
                            {


                                <li class="nav-item">
                                    @{
                                        Dictionary<int, StoreFrontProject.UI.MVC.Models.CartItemViewModel> prods =
                                            (Dictionary<int, StoreFrontProject.UI.MVC.Models.CartItemViewModel>)Session["cart"];
                                        var prodCount = prods.Sum(p => p.Value.Qty);

                                    }
                                    <a href="@Url.Action("index", "ShoppingCart")">
                                        <i class="fa fa-shopping-cart fa-lg"></i>
                                        <sup style="color:white;
                                                background-color:red;
                                                border-radius:40%;
                                                display:inline-block;

                                                height:1em;
                                                padding:1em;
                                                text-align:center">
                                            @prodCount

                                        </sup>
                                    </a>


                                </li>
                            }
                            @*else
                            {
                                <a href="@Url.Action("index", "ShoppingCart")">
                                    <i class="fa fa-shopping-cart fa-lg"></i>
                                </a>
                            }*@
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
    <section>
        @RenderBody()
    </section>
    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="first-item">
                        @*<div class="logo">*@
                        @*<img src="~/Content/assets/images/white-logo.png" alt="hexashop ecommerce templatemo">*@
                        @*<h2>PaintBall Store</h2>
                            </div>*@
                        <ul>
                            <li><a href="#"><h2>Paintball Store</h2></a></li>
                            <li><a href="#">16501 Collins Ave, St. Louis, MO 63125, United States</a></li>
                            <li><a href="#">paintballshop@company.com</a></li>
                            <li><a href="#">010-020-0340</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <h4>Shopping &amp; Categories</h4>
                    <ul>
                        <li><a href="#">Paintball Guns</a></li>
                        <li><a href="#">Clothing &amp; Masks</a></li>
                        <li><a href="#">Paintball Accessories</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><a href="@Url.Action("Index","Home")">Home</a></li>
                        <li><a href="@Url.Action("About","Home")">About Us</a></li>
                        <li><a href="@Url.Action("Products","Home")">Products</a></li>
                        <li><a href="@Url.Action("Contact","Home")">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4>Help &amp; Information</h4>
                    <ul>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">FAQ's</a></li>
                        <li><a href="#">Shipping</a></li>
                        <li><a href="#">Tracking ID</a></li>
                    </ul>
                </div>
                <div class="col-lg-12">
                    <div class="under-footer">
                        <p>
                            Copyright © @DateTime.Now.Year Paintball Shop Co., Ltd. All Rights Reserved.

                            <br>Converted By: <a href="http://scott-cashion.com" target="_blank">Scott Cashion</a>
                            <br>Design: <a href="https://templatemo.com" target="_parent" title="free css templates">TemplateMo</a>
                            <br>Distributed By: <a href="https://themewagon.com" target="_blank" title="free & premium responsive templates">ThemeWagon</a>
                        </p>
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fab fa-behance"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/fontawesome.min.js" integrity="sha512-ywaT8M9b+VnJ+jNG14UgRaKg+gf8yVBisU2ce+YJrlWwZa9BaZAE5GK5Yd7CBcP6UXoAnziRQl40/u/qwVZi4Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    @Scripts.Render("~/bundles/template")

    <script>
        $(function () {
            var selectedClass = "";
            $("p").click(function () {
                selectedClass = $(this).attr("data-rel");
                $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("." + selectedClass).fadeOut();
                setTimeout(function () {
                    $("." + selectedClass).fadeIn();
                    $("#portfolio").fadeTo(50, 1);
                }, 500);

            });
        });
    </script>

    <!--DataTables JS-->
    <script src="//cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>

    @RenderSection("scripts", required: false)

</body>
</html>